
.ctn {
  display: flex;
  gap: 60px;

  .solver_entry {
    display: flex;
    gap: 60px;

    .left_col {
      width: 300px;
      display: flex;
      flex-direction: column;
      gap: 20px;

      .input_select {
      }

      .submit {
        height: 40px;
      }
    }

    .entered_data {
      width: 500px;
    }
  }



  .right_col {
    width: 500px;

    .submit_back {
      margin-top: 30px;
      width: 100px;
    }
  }
}

.list {
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 5px;

  .list_item {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }
}